$mui-dark-slate-5: #0e111a;
$mui-dark-slate-10: #141721;
$mui-dark-slate-20: #1a1e29;
$mui-dark-slate-30: #232633;
$mui-dark-slate-40: #2c303e;
$mui-dark-slate-50: #33384b;
$mui-dark-slate-60: #444b61;
$mui-dark-slate-70: #626a85;
$mui-dark-slate-80: #878ea8;
$mui-dark-slate-90: #a3aac2;
$mui-dark-slate-100: #c1c7db;

$mui-slate-5: #f7f8fa;
$mui-slate-10: #eef0f5;
$mui-slate-20: #dfe1e6;
$mui-slate-30: #d7d8da;
$mui-slate-40: #cfd0d3;
$mui-slate-50: #babbc0;
$mui-slate-60: #9b9fa8;
$mui-slate-70: #71757f;
$mui-slate-80: #575d6c;
$mui-slate-90: #323745;
$mui-slate-100: #252b3a;

$mui-zinc-5: #f8f8fa;
$mui-zinc-10: #f2f2f3;
$mui-zinc-20: #e2e2e6;
$mui-zinc-30: #d5d5db;
$mui-zinc-40: #c7c7d1;
$mui-zinc-50: #aeaebd;
$mui-zinc-60: #9696a3;
$mui-zinc-70: #7a7a85;
$mui-zinc-80: #63636b;
$mui-zinc-90: #494952;
$mui-zinc-100: #37373d;

$mui-blue-5: #f2f5fc;
$mui-blue-10: #e9edfa;
$mui-blue-20: #beccfa;
$mui-blue-30: #96adfa;
$mui-blue-40: #7693f5;
$mui-blue-50: #5e7ce0;
$mui-blue-60: #526ecc;
$mui-blue-70: #465eb8;
$mui-blue-80: #3c51a6;
$mui-blue-90: #344899;
$mui-blue-100: #2a3c85;

$mui-gray-5: #f5f5f5;
$mui-gray-10: #ebebeb;
$mui-gray-20: #e0e0e0;
$mui-gray-30:  #d1d1d1;
$mui-gray-40: #bdbdbd;
$mui-gray-50: #8a8a8a;
$mui-gray-60: #878787;
$mui-gray-70: #707070;
$mui-gray-80: #5c5c5c;
$mui-gray-90: #474747;
$mui-gray-100: #383838;


$mui-white-5: #ffffff;
