$mui-font-size-icon: var(--mui-font-size-icon, 16px); //图标大小
$mui-font-size-sm: var(--mui-font-size-sm, 12px); //当组件size为'sm'时使用此字号大小
$mui-font-size-md: var(--mui-font-size-md, 12px); //当组件size为''时使用此字号大小
$mui-font-size-lg: var(--mui-font-size-lg, 14px); //当组件size为'lg'时使用此字号大小

$mui-font-title-weight: var(--mui-font-title-weight, bold); //标题文字粗细
$mui-font-content-weight: var(--mui-font-content-weight, normal); //内容文字粗细
$mui-line-height-base: var(--mui-line-height-base, 1.5); //规范行高

$mui-font-size-icon: var(--mui-font-size-icon, 16px); //图标大小
$mui-font-size-sm: var(--mui-font-size-sm, 12px); //当组件size为'sm'时使用此字号大小
$mui-font-size-md: var(--mui-font-size-md, 12px); //当组件size为''时使用此字号大小
$mui-font-size-lg: var(--mui-font-size-lg, 14px); //当组件size为'lg'时使用此字号大小
